body {
  margin: 0;
  font-family: 'Overlock SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg,#f2f2f2,#f3f3f3) 50% fixed;
}

code {
  font-family: 'Overlock SC', cursive;
}
